<!DOCTYPE html>
<html>
<head>
  <title>Account1App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%=link_to "Home" ,root_path%>

<% if user_signed_in? %>
<%=link_to "My Accounts" ,accounts_path%>
<%=link_to "Dashboard" ,dashboard_path%>
Hello,<%=current_user.username%>!
<%=link_to"登出",destroy_user_session_path,method:'delete'%>
<%else%>
<%=link_to"登入",new_user_session_path%>
<%=link_to"註冊",new_user_registration_path%>
<%end%>

<%= yield %>

</body>
</html>
